<h1 align="center">Listing</h1>

<% @articles.each do |article| %>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="card mb-3">
        <div class="article-title card-header">
          <%= link_to article.title, article_path(article) %>
        </div>
        <div class="article-body card-body">
          <%= truncate(article.description, length: 100) %>
          <div class="article-meta-details">
            <small>
              Created by: <%= article.user.username %>,
              <%= time_ago_in_words(article.created_at) %> ago,
              last updated: <%= time_ago_in_words(article.updated_at) %> ago
            </small>
          </div>
          <div class="article-actions">
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete",
                        article_path(article),
                        method: :delete,
                        data: {confirm: "Are you sure you want to delete the article?"},
                        class: "btn btn-xs btn-danger"
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>